*.o
*~
compile
documentation/html
documentation/latex
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
confdefs.h
config.h
config.log
config.status
configure
libtool
stamp-h1
m4
config.guess
config.sub
depcomp
ltmain.sh
install-sh
ar-lib
missing
*.tar.gz
