/*
 * Copyright (C) 2005-2010 Christoph Rupp (chris@crupp.de).
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the
 * Free Software Foundation; either version 2 of the License, or 
 * (at your option) any later version.
 *
 * See files COPYING.* for License information.
 *
 * This is an example configuration for hamsterd.
 * It's a plain JSON file.
 *
 * WARNING - identifiers are case sensitive!!
 */
{
    /* global configuration settings */
    "global": {
        "port": 8080,
        "enable-error-log": true,
        "error-log": "/var/log/hamsterd.errors",
        "enable-access-log": true,
        "access-log": "/var/log/hamsterd.access"
    },

    /* list of hamsterdb Environments that are served */
    "environments": [
        {
            "url": "/env1.db",
            "path": "./env1.db",
            "flags": "HAM_ENABLE_TRANSACTIONS|HAM_CACHE_UNLIMITED",

            /* open-exclusive: if true, the server will fail if 
             * the Environment does not yet exist;
             * otherwise the Environment will be created */
            "open-exclusive": false,

            /* If open-exclusive is false and the Environment is created from
             * scratch then the databases listed here are also created 
             * automatically. */
            "databases": [
                {
                    "name": 12,
                    "flags": "HAM_ENABLE_DUPLICATES"
                },
                {
                    "name": 13,
                    "flags": ""
                }
            ]
        }
    ]
}
