/*
 * This is an example configuration for upscaledb.
 * It's a plain JSON file.
 *
 * WARNING - identifiers are case sensitive!!
 */
{
    /* global configuration settings */
    "global": {
        "port": 8080
    },

    /* list of upscaledb Environments that are served */
    "environments": [
        {
            "url": "/env1.db",
            "path": "./env1.db",
            "flags": "UPS_ENABLE_TRANSACTIONS|UPS_CACHE_UNLIMITED",

            /* If open-exclusive is false and the Environment is created from
             * scratch then the databases listed here are also created
             * automatically. */
            "databases": [
                {
                    "name": 12,
                    "flags": "UPS_ENABLE_DUPLICATE_KEYS"
                },
                {
                    "name": 13,
                    "flags": ""
                }
            ]
        }
    ]
}
